n8n_zulip_workflow.json
{
  "name": "Zulip Incoming to LukaBot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zulip-incoming",
        "responseMode": "onReceived",
        "responseData": "lastNode",
        "options": {}
      },
      "name": "Zulip Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 200]
    },
    {
      "parameters": {
        "functionCode": "const incoming = $json.body || $json;\nconst message = incoming.message || {};\nconst content = message.content || message.raw_content || incoming.content || incoming.body?.message?.content || incoming.body?.content;\nconst stream = incoming.stream || message.stream || incoming.body?.stream;\nconst subject = incoming.subject || message.subject || incoming.body?.subject || (stream ? 'general' : undefined);\nconst sender_email = incoming.sender_email || message.sender_email || incoming.body?.sender_email || (message.type === 'private' ? message.sender_email : undefined);\n\nif (!content) {\n  throw new Error('Missing message content');\n}\n\nreturn [{\n  json: {\n    content,\n    stream,\n    subject,\n    sender_email,\n    message: {\n      content,\n      type: stream ? 'stream' : 'private',\n      sender_email,\n      stream,\n      subject\n    }\n  }\n}];"
      },
      "name": "Map Zulip Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [520, 200]
    },
    {
      "parameters": {
        "authentication": "none",
        "url": "http://161.35.111.176/api/zulip/incoming",
        "requestMethod": "POST",
        "responseFormat": "json",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{$json}}"
      },
      "name": "Send to LukaBot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [820, 200]
    }
  ],
  "connections": {
    "Zulip Webhook": {
      "main": [
        [
          {
            "node": "Map Zulip Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Zulip Payload": {
      "main": [
        [
          {
            "node": "Send to LukaBot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "staticData": {}
}
